<form action="">
    <label>
    <p>Username or Email</p>
    <input type="text" name="username" />
    </label>

    <label>
        <p>Password</p>
        <input type="text" name="password" />
    </label>

    <button type="submit">Login</button>
</form>--+