
<form action="">
    <label>
    <p>Username</p>
    <input type="text" name="username" />
    </label>

    <label>
        <p>Email</p>
        <input type="text" name="email" />
    </label>

    <label>
        <p>Password</p>
        <input type="text" name="password" />
    </label>

    <button type="submit">Enregistrer</button>
</form>