<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      AdonisJS - A fully featured web framework for Node.js
    </title>

    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=instrument-sans:400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <style>
      :root {
        --sand-1: #fdfdfc;
        --sand-2: #f9f9f8;
        --sand-3: #f1f0ef;
        --sand-4: #e9e8e6;
        --sand-5: #e2e1de;
        --sand-6: #dad9d6;
        --sand-7: #cfceca;
        --sand-8: #bcbbb5;
        --sand-9: #8d8d86;
        --sand-10: #82827c;
        --sand-11: #63635e;
        --sand-12: #21201c;
      }
    </style>

    <script src="https://cdn.tailwindcss.com"></script>

    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              sans: [ "Instrument Sans", "sans-serif" ]
            },
            colors: {
              primary: {
                DEFAULT: "#5A45FF",
                lighter: "#a599ff"
              },
              sand: {
                1: "var(--sand-1)",
                2: "var(--sand-2)",
                3: "var(--sand-3)",
                4: "var(--sand-4)",
                5: "var(--sand-5)",
                6: "var(--sand-6)",
                7: "var(--sand-7)",
                8: "var(--sand-8)",
                9: "var(--sand-9)",
                10: "var(--sand-10)",
                11: "var(--sand-11)",
                12: "var(--sand-12)"
              }
            }
          }
        }
      };
    </script>

    @vite(['resources/css/app.css', 'resources/js/app.js'])
    @stack('dumper')
  </head>

  <body class="flex flex-col bg-black text-white md:flex-row min-h-screen ">

    <aside class="fw-full md:w-64 p-4 border-gray-800 hidden xl:block">

        <section class="space-y-96">

          <!-- Logo Twitter -->

              <div class="space-y-6">
                <img src="/public/images/Vector.svg" alt="svp" class="py-2 p-4 w-23 h-18">
        
                <!-- Menu principal -->

                <div class="space-y-6">
                  <nav class="flex flex-col space-y-4 text-white text-lg font-semibold ">
                    <a href="#" class="flex items -center gap-4 hover:bg-gray-800 p-2 rounded">
                      <img src="/public/images/Group (12).svg" alt="home" class="w-6 h-6 ">
                      <span>Home</span>
                    </a>

                    <a href="#" class="flex items-center gap-4 hover:bg-gray-800 p-2 rounded ">
                      <img src="/public/images/Group (3).svg" alt="explore" class="w-6 h-6">
                      <span>Explore</span>
                    </a>
                  
                    <a href="#" class="flex items-center gap-4 hover:bg-gray-800 p-2 rounded ">
                      <img src="/public/images/Group (2)2.svg" alt="notifications" class="w-6 h-6">
                      <span>Notifications</span>
                    </a> 
                    
                    <a href="#" class="flex items-center gap-4 hover:bg-gray-800 p-2 rounded ">
                      <img src="/public/images/Group (4)1.svg" alt="message" class="w-6 h-6">
                      <span>Messages</span>
                    </a>
                    
                    <a href="#" class="flex items-center gap-4 hover:bg-gray-800 p-2 rounded ">
                      <img src="/public/images/Vector (2)1.svg" alt="bookmarks" class="w-6 h-6">
                      <span>Bookmarks</span>
                    </a>

                    <a href="#" class="flex items-center gap-4 hover:bg-gray-800 p-2 rounded ">
                      <img src="/public/images/Group (4)1.svg" alt="lists" class="w-6 h-6">
                      <span>Lists</span>
                    </a>

                    <a href="#" class="flex items-center gap-4 hover:bg-gray-800 p-2 rounded ">
                      <img src="/public/images/Group (2)1.svg" alt="profile" class="w-6 h-6">
                      <span>Profile</span>
                    </a>

                    <a href="#" class="flex items-center gap-4 hover:bg-gray-800 p-2 rounded ">
                      <img src="/public/images/Group (2)3.svg" alt="more" class="w-6 h-6">
                      <span>More</span>
                    </a>
                  </nav>
                    
                   <!-- Button Tweet -->

                  <button class="bg-[#1D9BF0] text-white w-full hover:bg-sky-600 font-bold py-2 rounded-full mt-6">
                    Tweet
                  </button>
                </div>
              </div>

                  <!-- Profil utilisateur (en bas de sidebar) -->

                  <div class="flex gap-4 items-center mt-8 cursor-pointer hover:bg-gray-800 p-22 rounded">
                    <img src="/public/images/Profile-Photo.svg" alt="profil" class="w-10 h-10 rounded-full">

                    <!-- Infos utilisateur -->
                    <div class="flex flex-col">
                      <div class="flex items-center gap-2">
                        <p class="text-white text-sm font-semibold">Bradley Ortiz</p>
                        <img src="/public/images/Vector (5).svg" alt="verified" class="w-4 h-4" >
                        <img src="/public/images/Group.png" alt="" class="opacity w-2 h-1 ml-auto" >

                      </div>
                      <p class="text-gray-400 text-sm"> @bradley_ </p>
                    </div>
                  </div>
                  
      </section>
    </aside>

    <main class="flex-1 p-4 borde-r border-gray-800 min-h-screen ">
    
      <section  class="stycky top-0 bg-black bg-opacity-80 backdrop-blur-sm border-b border-gray-800 z-10rounded border  divide-y divide-gray-800 ">
        
        <!-- En tête -->
        <div class="p-4">
          <div class="flex justify-between items-center ">
            <a href="" class="font-semibold text-white">Home</a>
            <img src="/public/images/Top-Tweets.svg" alt="top tweets" class="w-6 h-6">
          </div>
        </div>

        <!-- Zone de tweet -->
        <div class=" w-full space-y-2">
          <div class="flex gap-4 p-2">
            <img src="/public/images/Profile-Photo.svg" alt="" class="">
            <p class=" text-gray text-gray-500">What's happening?</p> 
          </div>
          
           <!-- Conteneur des icônes -->
          <div class="flex justify-between items-center mx-4 my-2">
            <div class="flex justify-between items-center px-4 py-2 mx-8">

              <div class="flex items-center gap-4 text-[#1D9BF0]">
                 <!-- Icone Mwdia -->
                 
               <button class="p-2 rounded-full hover:bg-[#1D9BF0]/10 transition">
                 <img src="/public/images/Group (2)9.svg" alt="media">
               </button>
   
                <!-- Icône GIF -->
               <button class="p-2 rounded-full hover:bg-[#1D9BF0]/10 transition">
                 <img src="/public/images/Group (2)8.svg" alt="gif">
               </button>
               
                 <!-- Icône Sondage -->
               <button class="p-2 rounded-full hover:bg-[#1D9BF0]/10 transition">
                 <img src="/public/images/Vector (2)7.svg" alt="sondage">
               </button>
               
               <!-- Icône Emoji -->
               <button class="p-2 rounded-full hover:bg-[#1D9BF0]/10 transition">
                 <img src="/public/images/Group (2)10.svg" alt="emoji">
               </button>
               
               <!-- Icône Schedule -->
               <button class="p-2 rounded-full hover:bg-[#1D9BF0]/10 transition">
                 <img src="/public/images/Schedule.svg" alt="planifier">
               </button>
              </div>                
             </div>
   
              <!-- Bouton Tweet -->
             <button 
               class="bg-[#1D9BF0] hover:bg-[#1A8CD8] text-white px-4 py-1.5 rounded-full font-bold text-sm transition disabled:opacity-50">Tweet 
             </button>              
           </div>
          </div>

        <div class="flex gap-3 p-4 hover:bg-gray-900/50 transition cursor-pointer border-b border-gray-800">

          <!-- Avatar -->

            <img src="/public/images/image 1.png" alt="logo" class="w-12 h-12 rounded-full flex-shrink-0 ">

            <!-- Contenu du tweet -->

          <div class="flex-1 min-w-0">

            <div class="flex items-center gap-1 mb-1">
              <p class="text-white  font-bold truncate">CNN</p>
              <img src="/public/images/Group (2)0.svg" alt="">
              <p class="text-gray-500 text-sm truncate">@CCN. 7m </p>
            </div>

            <!-- corps du tweet -->
            <p class="text-white/90 mb-3 leading-snug">
              President Joe Biden touted a new agreement reached with the 
            European Union to ease Trump-era tariffs on aluminium and steel as a 
            "major breakthroug" that would serve to both strengthen the US steel in
            dustry and combat the global climate crisis.</p>

            <!-- Actions -->
        
            <div class="flex justify-between max-w-md text-gray-500">

              <!-- Reponse -->
              <button class="flex items center group">
                  <div class=" flex items-center p-2 rounded-full group-hover:bg-blue-900/20 group-hover:text-blue-500">
                    <img src="/public/images/Buton.svg" alt="" class="" >
                    <span class="text-sm ml-1">57</span>
                  </div>   
              </button>

              <!-- Retweets -->
              <button class="flex items center group">
                <div class="flex items-center gap-2 p-2 rounded-full group-hover:bg-blue-900/20 group-hover:text-blue-500">
                  <img src="/public/images/Retweet.svg" alt="icon" class="opacity-25 w-1.25rem h-1.25rem">
                  <span class="text-sm ml-1">144</span>
                </div> 
              </button>

              <!-- J'aime -->
              <button class="flex items center group">
                <div class="flex items-center gap-2 p-2 rounded-full group-hover:bg-blue-900/20 group-hover:text-blue-500">
                  <img src="/public/images/React.svg" alt="icon" class="opacity-25 w-1.25rem h-1.25rem">
                  <span class="text-sm ml-1">184</span>
                </div>   
              </button>

              <!-- Partager -->
              <button class="opacity-25 p-2 rounded-full group-hover:bg-blue-900/20">
                  <img src="/public/images/Group (200).svg" alt="icon" class="w-1.25rem h-1.25rem">
              </button>
            </div>  
          </div> 
        </div>
      
        <div class="flex gap-3 w-full p-4 hover:bg-gray-900/50 transition cursor-pointer border-b border-gray-800">

          <!-- Avatar -->

          <img src="/public/images/image 1 (1).svg" alt="" class="w-12 h-12 rounded-full flex-shrink-0">

          <!-- Cotenu du tweet -->
          <div class="flex-1 min-w-0 space-y-6 ">
            <div class="">
              <div class="flex items-center gap-1">
                <p class="text-white font-bold ">The New York Times</p>
                <img src="/public/images/Group (2)0.svg" alt="">
                <p class="text-gray-500 text-sm">@nytimes. 2h </p>
              </div>

              <!-- Corps du tweet -->
              <div class="space-y-4">

              <p class="text-white/90 leading-snug">
                Gardning boomed during the pandemic. Six Black writers share how it 
              has helped them re-establish, and reimagine, a connection to
              cultivation and the land</p>

              <!-- Image attachée -->
                <img src="/public/images/Img.png" alt="" class="w-full max-[360px] h-full p-2 rounded-sm border-gray-800">  

              
                <!-- Actions -->
                
              <div class="flex justify-between max-w-md text-gray-500">

                  <!-- Reponse -->
                  <button class="flex items center group">
                    <div class=" flex items-center p-2 rounded-full group-hover:bg-blue-900/20 group-hover:text-blue-500">
                      <img src="/public/images/Buton.svg" alt="" class="" >
                      <span class="text-sm ml-1">19</span>
                    </div>   
                  </button>

                  <!-- Retweets -->
                  <button class="flex items center group">
                    <div class="flex items-center gap-2 p-2 rounded-full group-hover:bg-blue-900/20 group-hover:text-blue-500">
                      <img src="/public/images/Retweet.svg" alt="icon" class="opacity-25 w-1.25rem h-1.25rem">
                      <span class="text-sm ml-1">48</span>
                    </div> 
                  </button>

                  <!-- J'aime -->
                  <button class="flex items center group">
                    <div class="flex items-center gap-2 p-2 rounded-full group-hover:bg-blue-900/20 group-hover:text-blue-500">
                      <img src="/public/images/React.svg" alt="icon" class="opacity-25 w-1.25rem h-1.25rem">
                      <span class="text-sm ml-1">482</span>
                    </div>   
                  </button>

                  <!-- Partager -->
                  <button class="opacity-25 p-2 rounded-full group-hover:bg-blue-900/20">
                      <img src="/public/images/Group (200).svg" alt="icon" class="w-1.25rem h-1.25rem">
                  </button>
                </div>
              </div> 

            </div>
          </div>
        </div> 

        <div class="flex gap-3 p-4 hover:bg-gray-900/50 transition cursor-pointer border-b border-gray-800 ">

          <!-- Avatar -->
          <img src="/public/images/image 1 (2).svg" alt="png" class="w-12 h-12 rounded-full flex-shrink-0 ">

          <!-- Contenu du tweet -->
          <div>
            <div class="flex items-center gap-1 mb-1">
              <p class="text-white font-bold">Twitter</p>
              <img src="/public/images/Group (2)0.svg" alt="">
              <p class="text-gray-500 text-sm">@Twitter. Oct 29</p>
            </div>
  
            <!-- Texte du tweet -->
            <p class="text-white/90 mb-3">BIG NEWS lol jk still Twitter</p>

                
                <!-- Actions -->
                
            <div class="flex justify-between gap-12 max-w-md text-gray-500">

              <!-- Reponse -->
              <button class="flex items center group">
                <div class=" flex items-center p-2 rounded-full group-hover:bg-blue-900/20 group-hover:text-blue-500">
                  <img src="/public/images/Buton.svg" alt="" class="" >
                  <span class="text-sm ml-1">16.8K</span>
                </div>   
              </button>

              <!-- Retweets -->
              <button class="flex items center group">
                <div class="flex items-center gap-2 p-2 rounded-full group-hover:bg-blue-900/20 group-hover:text-blue-500">
                  <img src="/public/images/Retweet.svg" alt="icon" class="opacity-25 w-1.25rem h-1.25rem">
                  <span class="text-sm ml-1">36.6K</span>
                </div> 
              </button>

              <!-- J'aime -->
              <button class="flex items center group">
                <div class="flex items-center gap-2 p-2 rounded-full group-hover:bg-blue-900/20 group-hover:text-blue-500">
                  <img src="/public/images/React.svg" alt="icon" class="opacity-25 w-1.25rem h-1.25rem">
                  <span class="text-sm ml-1">267.1K</span>
                </div>   
              </button>

              <!-- Partager -->
              <button class="opacity-25 p-2 rounded-full group-hover:bg-blue-900/20">
                  <img src="/public/images/Group (200).svg" alt="icon" class="w-1.25rem h-1.25rem">
              </button>
            </div>
          </div> 
        </div>


        <div class="flex gap-3 p-4 hover:bg-gray-900/50 transition cursor-pointer border-b border-gray-800 ">

          <!-- Avatar -->
          <img src="/public/images/image 1 (2).svg" alt="png" class="w-12 h-12 rounded-full flex-shrink-0 ">

          <!-- Contenu du tweet -->
          <div>
            <div class="flex items-center gap-1 mb-1">
              <p class="text-white font-bold">Twitter</p>
              <img src="/public/images/Group (2)0.svg" alt="">
              <p class="text-gray-500 text-sm">@Twitter. Oct 29</p>
            </div>
  
            <!-- Texte du tweet -->
            <p class="text-white/90 mb-3">hello litteraly everyone</p>

                
                <!-- Actions -->
                
            <div class="flex justify-between gap-12 max-w-md text-gray-500">

              <!-- Reponse -->
              <button class="flex items center group">
                <div class=" flex items-center gap-2 p-2 rounded-full group-hover:bg-blue-900/20 group-hover:text-blue-500">
                  <img src="/public/images/Buton.svg" alt="" class="" >
                  <span class="text-sm ml-1">118.7K</span>
                </div>   
              </button>

              <!-- Retweets -->
              <button class="flex items center group">
                <div class="flex items-center gap-2 p-2 rounded-full group-hover:bg-blue-900/20 group-hover:text-blue-500">
                  <img src="/public/images/Retweet.svg" alt="icon" class="opacity-25 w-1.25rem h-1.25rem">
                  <span class="text-sm ml-1">785.4K</span>
                </div> 
              </button>

              <!-- J'aime -->
              <button class="flex items center group">
                <div class="flex items-center gap-2 p-2 rounded-full group-hover:bg-blue-900/20 group-hover:text-blue-500">
                  <img src="/public/images/React.svg" alt="icon" class="opacity-25 w-1.25rem h-1.25rem">
                  <span class="text-sm ml-1">3.3M</span>
                </div>   
              </button>

              <!-- Partager -->
              <button class="opacity-25 p-2 rounded-full group-hover:bg-blue-900/20">
                  <img src="/public/images/Group (200).svg" alt="icon" class="w-1.25rem h-1.25rem">
              </button>
            </div>
          </div> 
        </div>
          
      </section>
    </main>
    
    <footer class=" w-[350px] border-gray-800 p-4 hidden xl:block sticky top-0 h-screen overflow-y-auto" >

      <!-- Barre de recherche -->
      <div class="relative mb-4 space-y-4">

        <div class="relative w-full bg-[rgb(32,35,39)] text-center text-gray-400 py-3 pl-10 pr-4 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500 bg-[rgb(32,35,39)] w-auto h-auto rounded-full border-md border-gray mx-2 px-2 focus:outline-none">
          <input type="text" placeholder="Search Twitter" class="bg-transparent text-center" >
          <img src="/public/images/Vector (20).svg" alt="" class="absolute left-3 top-3.5 w-5 h-5 text-gray-500">
        </div>
        
        <!-- Tendances -->
        <div class="bg-[rgb(32,35,39)] rounded-2xl md-4">
          <div class="p-4">
            <div class="flex justify-between items-cneter mb-4 p-2">
              <h4 class="text-white text-xl font-bold">Trends for you</h4>

              <button class="px-4">
                <img src="/public/images/Settings.svg" alt="settings" class="w-5 h-5 ">
              </button>
            </div>

            <!-- Listes des tendances -->
            <div class="space-y-4">
              <div class="cursor-pointer hover:bg-gray-700/50 p-3 rounded-lg">
                <div class="flex justify-between">
                  <p class="text-xs text-gray-400">Trending in Turkey</p>
                  <button>
                    <img src="/public/images/Group.png" alt="" class="opacity-70 ">
                  </button>
                </div>
                <p class="font-bold text-white mt-1">#SQUID</p>
                <P class="text-xs text-gray-400 mt-1">2,066 Tweets</P>
              </div>

              <div class="cursor-pointer hover:bg-gray-700/50 p-3 rounded-lg">
                <div class="flex justify-between">
                  <p class="text-xs text-gray-400">Trending in Turkey</p>
                  <button>
                    <img src="/public/images/Group.png" alt="" class="opacity-70 ">
                  </button>
                </div>
                <p class="font-bold text-white mt-1">#SQUID</p>
                <P class="text-xs text-gray-400 mt-1">2,066 Tweets</P>
              </div>

              <div class="cursor-pointer hover:bg-gray-700/50 p-3 rounded-lg">
                <div class="flex justify-between">
                  <p class="text-xs text-gray-400">Trending in Turkey</p>
                  <button>
                    <img src="/public/images/Group.png" alt="" class="opacity-70 ">
                  </button>
                </div>
                <p class="font-bold text-white mt-1">#SQUID</p>
                <P class="text-xs text-gray-400 mt-1">2,066 Tweets</P>
              </div>

              <div class="cursor-pointer hover:bg-gray-700/50 p-3 rounded-lg">
                <div class="flex justify-between">
                  <p class="text-xs text-gray-400">Trending in Turkey</p>
                  <button>
                    <img src="/public/images/Group.png" alt="" class="opacity-70 ">
                  </button>
                </div>
                <p class="font-bold text-white mt-1">#SQUID</p>
                <P class="text-xs text-gray-400 mt-1">2,066 Tweets</P>
              </div>

            </div>

            <a href="#" class="block text-[#1D9BF0] text-sm py-3 hover:underline p-2">Show more</a>
          </div>
        </div>

        <!-- Suggestions -->
        <div class="bg-[rgb(32,35,39)] rounded-2xl md-4">
          <div class="p-4">
            <h1 class="text-white text-bold text-xl mb-4">Who to follow</h1>

            <!-- Liste suggestions -->
            <div class="space-y-4">
              <div class="flex justify-between items-center">
                <div class="flex items-center gap-3">
                  <img src="/public/images/image 1 (1).svg" alt="" class="w-10 h-10 rounded-full">

                  <div>
                    <div class="flex items-center gap-1">
                      <p class="text-white font-bold text-xs">The New York Times</p>

                      <img src="/public/images/Group (2)0.svg" alt="" class="w-4 h-4">
                    </div>
                    <p class="text-gray-400 text-sm text-xs"> @nytimes. 2h </p>
                    
                  </div>
                </div>
                <button type="submit" class="bg-white text-gray-900 text-sm hover:bg-gray-600 text-black text-xs px-3 py-1 rounded-full border-md w-auto h-6">Follow</button>
              </div>

              <div class="flex items-center">
                <div class="flex items-center w-full space-y-2">
                
                  <img src="/public/images/image 1.png" alt="" class="w-10 h-10 mr-2">
        
                  <div class="flex items-center">
                    <div class="">
                      <div class="flex">
                        <p class="text-white ">CNN</p>
                        <img src="/public/images/Group (2)0.svg" alt="" class="w--auto mr-2">
                      </div>
                      
                      <p class="text-gray-400 text-sm"> @CNN </p> 
                    </div>
                  </div>
                </div>
                
                <button type="submit" class="bg-white text-gray-900 text-sm hover:bg-gray-600 text-black text-xs px-3 py-1 rounded-full border-md w-auto h-6 ">Follow</button>
              </div>
      
            </div>

            <div class="flex items-center">
              <div class="flex items-center w-full space-y-2">
              
                <img src="/public/images/image 1 (2).svg" alt="" class="w-10 h-10 mr-2">
      
                <div class="flex items-center">
                  <div class="">
                    <div class="flex">
                      <p class="text-white ">Twitter</p>
                      <img src="/public/images/Group (2)0.svg" alt="" class="w--auto mr-2">
                    </div>
                    
                    <p class="text-gray-400 text-sm"> @Twitter</p> 
                  </div>
                </div>
              </div>
              
              <button type="submit" class="bg-white text-gray-900 text-sm hover:bg-gray-600 text-black text-xs px-3 py-1 rounded-full border-md w-auto h-6 ">Follow</button>
    
            </div>

            <a href="#" class="block text-[#1D9BF0] text-sm py-3 hover:underline p-2">Show more</a>
          </div>
        </div>
      </div>

      <div class="space-y-2 text-gray-500 text-xs px-2 ">
        <div class="flex flex-wrap gap-2">
          <a href="#" class="hover:underline">Terms of Service</a>
          <a href="#" class="hover:underline">Privacy Policy</a>
          <a href="#" class="hover:underline">cookie Policy</a>
          <a href="#" class="hover:underline">Imprint</a>
          <a href="#" class="hover:underline">Ads info</a>
          <a href="#" class="hover:underline">More ...</a>
          <p>@ 2023 Twitter, Inc.</p>
        </div>

        
      </div>
    
    </footer>
    
  </body>
</html>
