<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      AdonisJS - A fully featured web framework for Node.js
    </title>

    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=instrument-sans:400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <style>
      :root {
        --sand-1: #fdfdfc;
        --sand-2: #f9f9f8;
        --sand-3: #f1f0ef;
        --sand-4: #e9e8e6;
        --sand-5: #e2e1de;
        --sand-6: #dad9d6;
        --sand-7: #cfceca;
        --sand-8: #bcbbb5;
        --sand-9: #8d8d86;
        --sand-10: #82827c;
        --sand-11: #63635e;
        --sand-12: #21201c;
      }
    </style>

    <script src="https://cdn.tailwindcss.com"></script>

    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              sans: [ "Instrument Sans", "sans-serif" ]
            },
            colors: {
              primary: {
                DEFAULT: "#5A45FF",
                lighter: "#a599ff"
              },
              sand: {
                1: "var(--sand-1)",
                2: "var(--sand-2)",
                3: "var(--sand-3)",
                4: "var(--sand-4)",
                5: "var(--sand-5)",
                6: "var(--sand-6)",
                7: "var(--sand-7)",
                8: "var(--sand-8)",
                9: "var(--sand-9)",
                10: "var(--sand-10)",
                11: "var(--sand-11)",
                12: "var(--sand-12)"
              }
            }
          }
        }
      };
    </script>

    @vite(['resources/css/app.css', 'resources/js/app.js'])
    @stack('dumper')
  </head>
  <body class="flex bg-black gap-10">
    <header class="flex flex-cols-2 ">
      <section class="">
        <img src="/public/images/Vector.svg" alt="svp" class="py-2 p-4 w-23 h-18">
          <div>
            <div class="m-4 space-y-2">
              <div class=" Nav flex gap-4">
                <img src="/public/images/Group.svg" alt="svg" class="">
                <a href="" class="font-semibold text-white">Home</a>
              </div>
              <div class="flex gap-4">
                <img src="/public/images/Group (3).svg" alt="" class="">
                <a href="" class="font-semibold text-white">Explore</a>
              </div>
              <div class="flex gap-4">
                <img src="/public/images/Group (2)2.svg" alt="">
                <a href="" class="font-semibold text-white">Notifications</a>
              </div>
              <div class="flex gap-4">
                <img src="/public/images/Group (4)1.svg" alt="">
                <a href="" class="font-semibold text-white">Messages</a>
              </div>
              <div class="flex gap-4">
                <img src="/public/images/Vector (2)1.svg" alt="" class="w-4 h-auto">
                <a href="" class="font-semibold text-white">Bookmarks</a>
              </div>
            <div class="flex gap-4">
            <img src="/public/images/Group (4)1.svg" alt="">
            <a href="" class="font-semibold text-white">Lists</a>
            </div>
            <div class="flex gap-4">
              <img src="/public/images/Group (2)1.svg" alt="">
              <a href="" class="font-semibold text-white">Profile</a>
            </div>
            <div class="flex gap-4">
              <img src="/public/images/Group (2)3.svg" alt="">
              <a href="" class="font-semibold text-white">More</a>
            </div>
          </div>
          <button type="submit" class="bg-[#1D9BF0] text-white mx-4 px-16 rounded-full border-md border-[#1D9BF0] w-auto h-auto">Tweet</button>
        
        </div>
      </section>
    </header>
    <main class=" w-full ">
      <section  class="rounded-sm border border-gray-800 ">
        <div class="rounded-sm border border-gray-800 ">
          <div class="flex justify-between mx-4 py-2">
            <a href="" class="font-semibold text-white">Home</a>
          <img src="/public/images/Top-Tweets.svg" alt="" class="">
          </div>
        </div>
        <div class="rounded-sm border border-gray-800 w-full space-y-2">
          <div class="flex gap-4 p-2">
            <img src="/public/images/Profile-Photo.svg" alt="" class="">
            <p class=" text-gray text-gray-500">What's happening?</p> 
          </div>
          <div class="flex justify-between items-center gap-60">
            <div class="flex gap-4 m-2 px-20">
              <img src="/public/images/Group (2)9.svg" alt=" " class="">
              <img src="/public/images/Group (2)8.svg" alt="">
              <img src="/public/images/Vector (2)7.svg" alt="">
              <img src="/public/images/Group (2)10.svg" alt="">
              <img src="/public/images/Schedule.svg" alt="">
            </div>
            <button type="submit" class="bg-[#1D9BF0] text-white m-2 px-6 rounded-full border-md border-[#1D9BF0] w-auto h-8 ">Tweet</button>
          </div>
          
        </div>
        <div class="flex gap-2 m-2">
          
            <img src="/public/images/image 1.png" alt="png" class="w-auto h-10 mx-2 ">
          <div class="">
            <div class="flex items-center gap-1">
              <p class="text-white ">CNN</p>
              <img src="/public/images/Group (2)0.svg" alt="">
              <p class="text-gray-500 text-xs">@CCN. 7m </p>
            </div>
            <div class="text-gray-500">
              <p>President Joe Biden touted a new agreement reached with the</p>
              <p>European Union to ease Trump-era tariffs on aluminium and steel as a</p>
              <p>"major breakthroug" that would serve to both strengthen the US steel</p>
              <p>industry and combat the global climate crisis.</p>
            </div>
            <div class="flex gap-20">
              <div class="flex items-center gap-4">
                <img src="/public/images/Buton.svg" alt="" >
                <span class="text-gray-500">57</span>
              </div>
              <div class="flex items-center gap-2">
                <img src="/public/images/Retweet.svg" alt="Mon icone" class="opacity-25">
                <span class="text-gray-500 gap-6">144</span>
              </div>
              <div class="flex items-center text-gray-500 gap-2">
                <img src="/public/images/React.svg" alt="">
                <span class="text-gray-500 gap-6">184</span>
              </div class="">
              <img src="/public/images/Group (200).svg" alt="">
            </div>
            
            
        
          </div> 
        </div>

        <div class="flex gap-4 rounded-sm border border-gray-800 w-full ">

          <img src="/public/images/image 1 (1).svg" alt="" class="w-auto h-10 mx-2 ">
          <div class="">
            <div class="space-y-4">
              <div class="flex items-center gap-1">
                <p class="text-white ">The New York Times</p>
                <img src="/public/images/Group (2)0.svg" alt="">
                <p class="text-gray-500 text-xs">@nytimes. 2h </p>
              </div>
              <div class="text-gray-500 ">
                <div class="">
                  <p>Gardening boomed during the pandemic. Six Black writers share how it</p>
                  <p>has helped them re-establish, and reimagine, a connection to</p>
                  <p>cultivation and the land</p>
                </di>
                  <img src="/public/images/Img.png" alt="" class="wx-360 h-auto">  
                </div>
              </div>
            </div>
          </div> 
          
        </div>
        
        <div>
          <div class="flex gap-2 m-2">
          
            <img src="/public/images/image 1 (2).svg" alt="png" class="w-auto h-10 mx-2 ">
          <div class="">
            <div class="flex items-center gap-1">
              <p class="text-white font-semibold ">Twitter</p>
              <img src="/public/images/Group (2)0.svg" alt="">
              <p class="text-gray-500 text-xs">@Twitter. Oct 29</p>
            </div>
            <div class="text-gray-500">
              <p>BIG NEWS lol jk still Twitter</p>
            </div>
        
          </div>  
          
        </div>
        <div></div>\

        <div class="flex gap-4 rounded-sm border border-gray-800 w-full ">
          <div class="flex gap-2 m-2">
          
            <img src="/public/images/image 1 (2).svg" alt="png" class="w-auto h-10 mx-2 ">
          <div class="">
            <div class="flex items-center gap-1">
              <p class="text-white font-semibold">Twitter</p>
              <img src="/public/images/Group (2)0.svg" alt="">
              <p class="text-gray-500 text-xs">@Twitter. Oct 4</p>
            </div>
            <div class="text-gray-500">
              <p>hello literally everyone</p>
       
            </div>
        
          </div> 
        </div>
        
        <div></div>

        
        <div class="flex gap-2 m-2">
          
          <img src="/public/images/image 1 (2).svg" alt="png" class="w-auto h-10 mx-2 ">
        <div class="">
          <div class="flex items-center gap-1">
            <p class="text-white font-semibold ">Twitter</p>
            <img src="/public/images/Group (2)0.svg" alt="">
            <p class="text-gray-500 text-xs">@Twitter. Oct 4</p>
          </div>
          <div class="text-gray-500">
            <p>hello literally everyone</p>
          </div>
      
        </div>  
        
      </section>
    </main>
    <footer class="py-2 space-y-2">
      <div class="relative">
        <div class="text-center text-s text-gray-500 bg-gray-800 w-auto h-auto rounded-full border-md border-gray mx-2 px-2 focus:outline-none">
          <input type="text" name="name" id="" placeholder="Search Twitter" class="bg-transparent text-center" >
          <img src="/public/images/Vector (20).svg" alt="" class="absolute left-6  top-1">
        </div>
        
      </div>
      

      <div class="bg-gray-800 space-y-4 rounded border-md border-gray-200 m-2 p-2">

        <div class=" ">
          <div class="flex items-center gap-20 ">
            <p class="text-white">Trends for you</p>
            <img src="/public/images/Settings.svg" alt="" class="w-5 h-5 cursor-pointer">
          </div>  
        </div>
        <div class="flex items-center gap-16">
          <div >
            <div class="flex items-center gap-28">
              <p class=" text-xs text-gray-500">Trending in Turkey</p>
              <img src="/public/images/Group.png" alt="" class="opacity ">
            </div>
            
            <p class="text-white font-semibold text-base">#SQUID</p>
            <p class="text-xs text-gray-500">2,066 Tweets</p>
          </div>
            
        </div>
          <div >
            <div class="flex items-center gap-28">
              <p class="text-xs text-gray-500">Trending in Turkey</p>
              <img src="/public/images/Group.png" alt="" class="opacity ">
            </div>
            
            <p class="text-white font-semibold text-base">#SQUID</p>
            <p class="text-xs text-gray-500">2,066 Tweets</p>
          </div>
          <div >
            <div class="flex items-center gap-28">
              <p class="text-xs text-gray-400">Trending in Turkey</p>
              <img src="/public/images/Group.png" alt="" class="opacity ">
            </div>
            
            <p class="text-white font-semibold text-base">#SQUID</p>
            <p class="text-xs text-gray-800">2,066 Tweets</p>
          </div>
          <div >
            <div class="flex items-center gap-28">
              <p class="text-xs text-gray-500">Trending in Turkey</p>
              <img src="/public/images/Group.png" alt="" class="opacity ">
            </div>
            
            <p class="text-white font-semibold text-base">#SQUID</p>
            <p class="text-xs text-gray-800">2,066 Tweets</p>
          </div>
          <a href="" class="text-[#1D9BF0] text-sm text-xs ">Show more</a>
        
      </div>
      <div class="space-y-4 bg-gray-800 rounded border-md border-gray-200 m-2 p-2">
        <h1 class="text-white text-semibold text-xl">Who to follow</h1>
        <div class="flex items-center justify-between w-full space-y-2">
          <img src="/public/images/image 1 (1).svg" alt="" class="w-8 h-8 mr-2">

          <div class="flex items-center">
              <div class="flex items-center">
                <p class="text-white text-sm w-4 h-4 mr-3">The New York Times</p>
                <img src="/public/images/Group (2)0.svg" alt="" class="w--auto mr-2">
                <button type="submit" class="bg-white text-gray-900 text-sm hover:bg-gray-600 text-black text-xs px-3 py-1 mx-2 rounded-full border-md w-auto h-6">Follow</button>  
              </div>
      
          </div>
          

        </div>
        <p class="text-gray-400 text-sm ">@nytimes. 2h </p>
        <div>
          
        </div>
      </div>
    </footer>
    
  </body>
</html>
